main {
  top: 100vh;
  transition: top 0.8s;
  overflow: hidden; }
  main .line-wrapper {
    position: absolute;
    bottom: -80vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 40%;
    justify-content: center; }
    main .line-wrapper .line-center,
    main .line-wrapper .line-right,
    main .line-wrapper .line-left {
      width: 10vw;
      height: 150vh; }
    main .line-wrapper .line-center {
      background: #0d47a1;
      max-width: 150px; }
    main .line-wrapper .line-right {
      background: #008000;
      box-shadow: -1.04vw 0px 1.04vw -0.78vw rgba(0, 0, 0, 0.822); }
    main .line-wrapper .line-left {
      background: #ffd700;
      box-shadow: 1.04vw 0px 1.04vw -0.78vw rgba(0, 0, 0, 0.822); }
  main .settings {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -300%);
    width: 30%;
    height: 40vw;
    transition: all 1s; }
    main .settings #select {
      width: 100%;
      height: 100%; }
    main .settings .you-name,
    main .settings .rules,
    main .settings .difficultis {
      width: 100%;
      position: relative;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
      overflow: hidden;
      transition: all 1s;
      z-index: 3; }
    main .settings .confirm,
    main .settings .confirm-name,
    main .settings .simple,
    main .settings .bonus {
      font-family: "VT323";
      text-transform: uppercase;
      letter-spacing: 0.5;
      font-size: 1.1vw;
      border-radius: 0.2vw;
      cursor: pointer;
      display: inline-block;
      color: white;
      text-align: center;
      border: none; }
      main .settings .confirm:active,
      main .settings .confirm-name:active,
      main .settings .simple:active,
      main .settings .bonus:active {
        opacity: 0.8; }
      main .settings .confirm:focus,
      main .settings .confirm-name:focus,
      main .settings .simple:focus,
      main .settings .bonus:focus {
        outline: none; }
    main .settings .confirm,
    main .settings .confirm-name {
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
    main .settings .welcom,
    main .settings .choose-difficultis,
    main .settings .choose-rule {
      position: absolute;
      top: -20%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: auto;
      font-size: 2vw;
      font-family: "Bebas Neue", cursive;
      padding: 1%;
      transition: all 0.5s;
      cursor: pointer;
      text-align: center; }
    main .settings .you-name {
      height: 32%;
      background-color: #339e35;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw; }
      main .settings .you-name .you {
        position: absolute;
        top: 15%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: "Bebas Neue", cursive; }
      main .settings .you-name .confirm-name {
        top: 80%;
        width: 6vw;
        padding: 0.6vw;
        transition: all 0.5s;
        background: linear-gradient(145deg, #2e8e30, #37a939);
        box-shadow: 0.26vw 0.26vw 0.57vw 0.26vw #2b862d, -0.26vw -0.26vw 0.57vw 0.26vw #3bb63d; }
        main .settings .you-name .confirm-name:active {
          transform: translate(-50%, -50%) translateY(1px);
          box-shadow: inset 0.26vw 0.26vw 0.57vw #2b862d, inset -0.26vw -0.26vw 0.57vw #3bb63d; }
      main .settings .you-name #name {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 15%;
        text-align: center;
        font-size: 1.5vw;
        transition: all 0.5s;
        font-family: "Bebas Neue", cursive;
        border: none;
        box-shadow: 0.2vw 0 0px 0px #000, 0 0.2vw 0px 0px #000, -0.2vw 0 0px 0px #000, 0 -0.2vw 0px 0px #000;
        background: #fcfcfc; }
        main .settings .you-name #name:focus {
          outline: none; }
    main .settings .rules {
      background-color: #0072c6;
      text-align: center;
      height: 32%; }
      main .settings .rules input {
        position: absolute;
        top: -10vw; }
      main .settings .rules .simple,
      main .settings .rules .bonus {
        position: relative;
        top: 0;
        margin: 3%;
        width: 6.5vw;
        padding: 0.8vw;
        transition: all 0.5s;
        background: #0072c6;
        box-shadow: 0.26vw 0.26vw 0.57vw 0.26vw #0061a8, -0.26vw -0.26vw 0.57vw 0.26vw #0083e4; }
        main .settings .rules .simple:active,
        main .settings .rules .bonus:active {
          transform: translateY(4px);
          box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5); }
  main .choose {
    text-align: center;
    font-size: 1.8vw;
    transition: all 0.5s;
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    padding-top: 1%;
    margin-bottom: 2vw;
    margin-top: 1vh; }
  main .rules .choose {
    position: relative;
    top: 0; }
  main .difficultis {
    height: 40%;
    background-color: #ebbc42;
    text-align: center;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw; }
    main .difficultis input {
      position: absolute;
      top: -10vw; }
    main .difficultis .difficultis-btn {
      font-family: "VT323";
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      color: black;
      font-weight: bolder;
      text-align: center;
      border: none;
      background: linear-gradient(145deg, #d4a93b, #fbc947);
      margin: 3%;
      letter-spacing: 0.5;
      font-size: 1.1vw;
      border-radius: 0.2vw;
      box-shadow: 0.26vw 0.26vw 0.57vw 0.26vw #c8a038, -0.26vw -0.26vw 0.57vw 0.26vw #ffd84c;
      width: 6.5vw;
      padding: 0.8vw; }
      main .difficultis .difficultis-btn:active {
        opacity: 0.8;
        box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5); }
      main .difficultis .difficultis-btn:focus {
        outline: none; }
    main .difficultis .easy,
    main .difficultis .medium,
    main .difficultis .hard {
      position: relative;
      top: 0;
      transition: all 0.5s; }
    main .difficultis .choose {
      position: relative;
      top: 0;
      margin-bottom: 10%; }
  main .simple-rules,
  main .bonus-rules {
    transform: translateX(0px);
    display: none;
    text-align: center;
    width: 55%;
    height: 90%;
    background-color: #7c7c7c;
    position: absolute;
    transition: all 0.45s;
    top: 5%;
    z-index: 2;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px; }
    main .simple-rules .rule-img,
    main .bonus-rules .rule-img {
      height: auto;
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
    main .simple-rules h2,
    main .bonus-rules h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.8vw;
      margin-top: 4%; }
  main .simple-rules {
    left: 0; }
    main .simple-rules .rule-img {
      top: 45%;
      width: 90%; }
    main .simple-rules ul {
      list-style: none;
      font-family: "Bebas Neue", cursive;
      font-size: 1.2vw; }
  main .icon-left,
  main .icon-right {
    transform: translateX(0px);
    display: none;
    width: 35%;
    height: 60%;
    position: absolute;
    top: 18%;
    background-color: #f1faee;
    transition: all 0.35s;
    text-align: center;
    z-index: 1;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px; }
    main .icon-left .icon-wraper,
    main .icon-right .icon-wraper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      border-radius: 0.5vw; }
    main .icon-left img,
    main .icon-right img {
      height: auto; }
  main .icon-left {
    left: 0%; }
    main .icon-left .icon-wraper {
      width: 80%;
      padding: 5% 0; }
    main .icon-left img {
      width: 55%;
      height: auto; }
  main .show-simpl-icon {
    left: -10vw; }
  main .show-simple-rule {
    transform: translateX(-16.5vw) !important; }
  main .bonus-rules {
    right: 0; }
    main .bonus-rules .rule-img {
      top: 45%;
      width: 100%; }
    main .bonus-rules .list ul {
      display: inline-block;
      vertical-align: top;
      list-style: none;
      text-align: left;
      font-family: "Bebas Neue", cursive;
      font-size: 1.1vw;
      margin-right: 2%; }
  main .icon-right {
    right: 0%; }
    main .icon-right .icon-wraper {
      width: 85%;
      padding: 5% 2%; }
    main .icon-right img {
      width: 48%; }
  main .show-bonus-icon {
    right: -10vw; }
  main .show-bonus-rule {
    transform: translateX(16.5vw) !important; }

.confirm {
  top: 90%;
  width: 6.5vw;
  padding: 0.8vw;
  transition: box-shadow ease 0.1s;
  background: linear-gradient(145deg, #858585, #707070);
  box-shadow: 0.26vw 0.26vw 0.57vw 0.26vw #696969, -0.26vw -0.26vw 0.57vw 0.26vw #8f8f8f; }
  .confirm:active {
    box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5); }

.go {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 20vw;
  position: relative;
  top: -10vw;
  height: 6vw;
  background-color: darksalmon;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  transition: all 0.5s;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -0.2vw 0.4vw, inset rgba(252, 255, 255, 0.7) 0 0.2vw 0.4vw, rgba(0, 0, 0, 0.8) 0 0.2vw 0.4vw -0.1vw; }
  .go #ok {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "VT323";
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: white;
    width: 8vw;
    padding: 0.8vw;
    text-align: center;
    transition: box-shadow ease 0.1s;
    border: none;
    background: #0d47a1;
    box-shadow: 0.05vw 0.2vw 0.05vw 0.05vw rgba(10, 49, 109, 0.85), 0px 0.31vw 0.05vw 0.1vw #37474f;
    letter-spacing: 0.5;
    font-size: 1.1vw;
    border-radius: 0.2vw; }
    .go #ok:active {
      opacity: 0.8;
      box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5); }
    .go #ok:focus {
      outline: none; }

@media screen and (max-device-width: 425px) and (orientation: portrait) {
  main .line-wrapper {
    width: 70%; }
    main .line-wrapper .line-center,
    main .line-wrapper .line-right,
    main .line-wrapper .line-left {
      width: 18vw; }
    main .line-wrapper .line-right {
      box-shadow: -2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
    main .line-wrapper .line-left {
      box-shadow: 2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
  main .settings {
    top: 48%;
    width: 60%;
    height: 95vw; }
    main .settings .confirm,
    main .settings .confirm-name,
    main .settings .simple,
    main .settings .bonus {
      font-size: 3vw; }
    main .settings .welcom,
    main .settings .choose-difficultis,
    main .settings .choose-rule {
      font-size: 5.5vw; }
    main .settings .you-name {
      height: 30%; }
      main .settings .you-name .confirm-name {
        width: 12vw;
        padding: 0.8vw; }
      main .settings .you-name #name {
        width: 65%;
        font-size: 3.5vw;
        box-shadow: 0.5vw 0 0px 0px #000, 0 0.5vw 0px 0px #000, -0.5vw 0 0px 0px #000, 0 -0.5vw 0px 0px #000; }
    main .settings .rules {
      height: 30%; }
      main .settings .rules .simple,
      main .settings .rules .bonus {
        margin: 9% 6%;
        width: 14vw;
        padding: 1.5vw; }
        main .settings .rules .simple:active,
        main .settings .rules .bonus:active {
          transform: translateY(1px); }
  main .choose {
    font-size: 4vw; }
  main .difficultis {
    height: 38%; }
    main .difficultis .difficultis-btn {
      font-size: 3vw;
      width: 14vw;
      padding: 1.5vw; }
  main .simple-rules,
  main .bonus-rules {
    transform: translateX(0px) translateY(0px);
    width: 100%;
    height: 70%; }
    main .simple-rules h2,
    main .bonus-rules h2 {
      font-size: 5vw; }
  main .simple-rules {
    left: 0; }
    main .simple-rules .rule-img {
      width: 55%;
      top: 55%; }
    main .simple-rules ul {
      font-size: 3vw; }
  main .icon-left,
  main .icon-right {
    width: 25%;
    height: 45%; }
  main .icon-left {
    left: 0%; }
    main .icon-left img {
      width: 65%; }
  main .show-simpl-icon {
    left: -14vw; }
  main .show-simple-rule {
    transform: translateY(-70vw) !important; }
  main .bonus-rules {
    right: 0; }
    main .bonus-rules .rule-img {
      width: 60%;
      top: 46%; }
    main .bonus-rules .list ul {
      font-size: 3vw;
      margin-right: 27%; }
    main .bonus-rules .list ul:last-child {
      margin-right: 0%;
      margin-left: 27%; }
  main .icon-right {
    right: 0%; }
    main .icon-right img {
      width: 50%; }
  main .show-bonus-icon {
    right: -14vw; }
  main .show-bonus-rule {
    transform: translateY(87.5vw) !important; }
  .move-form-up {
    transform: translateY(-35vw); }
  .move-form-down {
    transform: translateY(44vw); }
  #select {
    transition: all 0.5s; }
  .confirm {
    top: 86%;
    width: 12vw;
    padding: 1vw; }
  .go {
    width: 40vw;
    top: -15vw;
    height: 12vw; }
    .go #ok {
      width: 16vw;
      padding: 1vw;
      font-size: 3vw; } }

@media screen and (min-device-width: 425px) and (orientation: portrait) {
  main .line-wrapper {
    width: 70%; }
    main .line-wrapper .line-center,
    main .line-wrapper .line-right,
    main .line-wrapper .line-left {
      width: 18vw; }
    main .line-wrapper .line-right {
      box-shadow: -2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
    main .line-wrapper .line-left {
      box-shadow: 2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
  main .settings {
    top: 48%;
    width: 55%;
    height: 80vw; }
    main .settings .confirm,
    main .settings .confirm-name,
    main .settings .simple,
    main .settings .bonus {
      font-size: 2vw; }
    main .settings .welcom,
    main .settings .choose-difficultis,
    main .settings .choose-rule {
      font-size: 3.5vw; }
    main .settings .you-name {
      height: 30%; }
      main .settings .you-name .confirm-name {
        width: 10vw;
        padding: 0.8vw; }
      main .settings .you-name #name {
        width: 55%;
        font-size: 2.5vw;
        box-shadow: 0.5vw 0 0px 0px #000, 0 0.5vw 0px 0px #000, -0.5vw 0 0px 0px #000, 0 -0.5vw 0px 0px #000; }
    main .settings .rules {
      height: 30%; }
      main .settings .rules .simple,
      main .settings .rules .bonus {
        margin: 5% 6%;
        width: 12vw;
        padding: 1.5vw; }
        main .settings .rules .simple:active,
        main .settings .rules .bonus:active {
          transform: translateY(1px); }
  main .choose {
    font-size: 3vw; }
  main .difficultis {
    height: 38%; }
    main .difficultis .difficultis-btn {
      font-size: 2vw;
      width: 12vw;
      padding: 1.5vw; }
  main .simple-rules,
  main .bonus-rules {
    transform: translateX(0px) translateY(0px);
    width: 100%;
    height: 60%; }
    main .simple-rules h2,
    main .bonus-rules h2 {
      font-size: 4vw; }
  main .simple-rules {
    left: 0; }
    main .simple-rules .rule-img {
      width: 55%;
      top: 50%; }
    main .simple-rules ul {
      font-size: 2vw;
      display: flex;
      justify-content: center; }
      main .simple-rules ul li {
        margin: 0% 2%; }
        main .simple-rules ul li:first-child {
          margin-left: 0%; }
  main .icon-left,
  main .icon-right {
    width: 25%;
    height: 40%; }
  main .icon-left {
    left: 0%; }
    main .icon-left .icon-wraper {
      width: 80%;
      padding: 5% 0; }
    main .icon-left img {
      width: 65%; }
  main .show-simpl-icon {
    left: -10vh; }
  main .show-simple-rule {
    transform: translateY(-50.5vw) !important; }
  main .bonus-rules {
    right: 0; }
    main .bonus-rules .rule-img {
      width: 55%;
      top: 46%; }
    main .bonus-rules .list ul {
      font-size: 2vw;
      margin-right: 27%; }
    main .bonus-rules .list ul:last-child {
      margin-right: 0%;
      margin-left: 27%; }
  main .icon-right {
    right: 0%; }
    main .icon-right .icon-wraper {
      width: 85%;
      padding: 5% 2%; }
    main .icon-right img {
      width: 60%; }
  main .show-bonus-icon {
    right: -10vh; }
  main .show-bonus-rule {
    transform: translateY(73.5vw) !important; }
  .move-form-up {
    transform: translateY(-35vw); }
  .move-form-down {
    transform: translateY(38vw); }
  #select {
    transition: all 0.5s; }
  .confirm {
    top: 86%;
    width: 12vw;
    padding: 1vw; }
  .go {
    width: 40vw;
    top: -15vw;
    height: 12vw; }
    .go #ok {
      width: 16vw;
      padding: 1vw;
      box-shadow: 0.1vw 0.4vw 0.1vw 0.1vw rgba(10, 49, 109, 0.85), 0px 0.6vw 0.1vw 0.2vw #37474f;
      font-size: 2vw;
      border-radius: 0.2vw; } }

@media screen and (max-device-height: 425px) and (orientation: landscape) {
  main .line-wrapper {
    width: 70%; }
    main .line-wrapper .line-center,
    main .line-wrapper .line-right,
    main .line-wrapper .line-left {
      width: 12vw; }
    main .line-wrapper .line-right {
      box-shadow: -2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
    main .line-wrapper .line-left {
      box-shadow: 2.04vw 0px 2.04vw -1.5vw rgba(0, 0, 0, 0.822); }
  main .settings {
    top: 46%;
    width: 50vh;
    height: 75vh; }
    main .settings .confirm,
    main .settings .confirm-name,
    main .settings .simple,
    main .settings .bonus {
      font-size: 3vh; }
    main .settings .welcom,
    main .settings .choose-difficultis,
    main .settings .choose-rule {
      font-size: 4.5vh; }
    main .settings .you-name {
      height: 30%;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
      main .settings .you-name .confirm-name {
        width: 12vh;
        padding: 0.5vh; }
      main .settings .you-name #name {
        width: 55%;
        font-size: 3vh;
        box-shadow: 0.3vw 0 0px 0px #000, 0 0.3vw 0px 0px #000, -0.3vw 0 0px 0px #000, 0 -0.3vw 0px 0px #000; }
    main .settings .rules {
      height: 30%;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
      main .settings .rules .simple,
      main .settings .rules .bonus {
        margin: 6% 4%;
        width: 12vh;
        padding: 0.8vh; }
        main .settings .rules .simple:active,
        main .settings .rules .bonus:active {
          transform: translateY(1px); }
    main .settings .difficultis {
      height: 35%;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
      main .settings .difficultis .difficultis-btn {
        margin: 1% 3%;
        font-size: 3vh;
        width: 12vh;
        padding: 0.8vh; }
  main .choose {
    font-size: 3.5vh; }
  main .simple-rules,
  main .bonus-rules {
    top: 2%;
    width: 68%;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
    main .simple-rules h2,
    main .bonus-rules h2 {
      font-size: 3.5vh; }
  main .simple-rules {
    left: 0; }
    main .simple-rules .rule-img {
      top: 48%;
      width: 90%; }
    main .simple-rules ul {
      font-size: 3vh; }
  main .icon-left,
  main .icon-right {
    width: 25%;
    height: 55%;
    top: 20%; }
  main .icon-left {
    left: 0%;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
    main .icon-left .icon-wraper {
      width: 100%; }
    main .icon-left img {
      width: 65%; }
  main .show-simpl-icon {
    left: -12vh; }
  main .show-simple-rule {
    transform: translateX(-33.5vh) !important; }
  main .bonus-rules {
    right: 0; }
    main .bonus-rules .rule-img {
      top: 48%;
      width: 95%; }
    main .bonus-rules .list ul {
      font-size: 3vh;
      margin-right: 20%; }
      main .bonus-rules .list ul:last-child {
        margin-right: 0;
        margin-left: 20%; }
  main .icon-right {
    right: 0%;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -1px 2px, inset rgba(252, 255, 255, 0.7) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px 2px -1px; }
    main .icon-right .icon-wraper {
      width: 100%;
      padding: 5% 2%; }
    main .icon-right img {
      width: 55%; }
  main .show-bonus-icon {
    right: -12vh; }
  main .show-bonus-rule {
    transform: translateX(33.5vh) !important; }
  .confirm {
    width: 14vh;
    padding: 1vh; }
  .go {
    width: 40vh;
    height: 10vh; }
    .go #ok {
      width: 15vh;
      padding: 1vh;
      font-size: 3vh; } }
